CMakeCache.txt
config.yml
Makefile
reisa.log
simulation
CMakeFiles/**
outputs/**
cmake_install.cmake
SImLauncher.sh
message.sh
derivative.py
cluster.yaml
client.py
address.var
get_times.sh
memory.log
notas.txt
processed.log
status.log
__pycache__/reisa.cpython-310.pyc
logs/jobs.log
